@import "../../../Commons/colors";
@import "../../../Commons/breakpoints";

.container-fluid.navigation {
    background-color: $prussian-blue;
    margin: 0;
    z-index: 2;

    &.fixed {
        top: 0;
        width: 100%;
        position: fixed;
    }
}

.cmp-navigation {
    color: $honeydrew;
    height: 50px;
    align-items: center;
    font-size: 16px;
    letter-spacing: 1.6px;
    text-transform: uppercase;

    a {
        transition: color 0.3s;

        &.active {
            color: $imperial-red;
        }

        @include medium {
            &:hover {
                color: $imperial-red;
            }
        }
    }
}