@import "../../../Commons/colors";

.cmp-title {
    position: relative;
    text-align: center;
    margin-block-end: 1em;

  &.underlined {
    margin-block-end: 0;
  }
}

.underline {
    height: 4px;
    background-color: $richBlack;
    width: 50px;
    margin: 0 auto 1em;
}