// new colors
$richBlack: rgba(0, 15, 8, 1);
$prussian-blue: #01293f;
$metallic-seaweed: #177e89;
$steel-blue: #457b9d;
$cadet: #5d737e;
$powder-blue: #a8Dadc;
$honeydrew: #f1faee;
$imperial-red: #e63946;

// utils
$transparent: transparent;

//skills colors
$html: #e44e26;
$js: #f7e01b;
$css: #274de4;
$react: #26dcfa;
$node: #84ba64;
$apple: $richBlack;

// contact colors
$linkedin: #026699;
$gmail: #ea4235;
$aiDungeon: #5973ff;
$geoguessr: red;
$hackerrank: #1ba94c;

