@import "breakpoints";

$space-value: 1.2rem;

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: $space-value;
  padding-right: $space-value;
}

.flex-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &--mn {
    margin-left: -$space-value;
    margin-right: -$space-value;
  }

  &--nowrap {
    flex-wrap: nowrap;
  }

  &--reverse {
    flex-direction: row-reverse;
  }
}

.flex-xs,
.flex-xs-1,
.flex-xs-2,
.flex-xs-3,
.flex-xs-4,
.flex-xs-5,
.flex-xs-6,
.flex-xs-7,
.flex-xs-8,
.flex-xs-9,
.flex-xs-10,
.flex-xs-11,
.flex-xs-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  margin-left: $space-value;
  margin-right: $space-value;
}

.flex-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: calc(100% - #{$space-value} * 2);
}

.flex-xs-1 {
  flex-basis: calc(8.333% - #{$space-value} * 2);
  max-width: calc(8.333% - #{$space-value} * 2);
}

.flex-xs-2 {
  flex-basis: calc(16.667% - #{$space-value} * 2);
  max-width: calc(16.667% - #{$space-value} * 2);
}

.flex-xs-3 {
  flex-basis: calc(25% - #{$space-value} * 2);
  max-width: calc(25% - #{$space-value} * 2);
}

.flex-xs-4 {
  flex-basis: calc(33.333% - #{$space-value} * 2);
  max-width: calc(33.333% - #{$space-value} * 2);
}

.flex-xs-5 {
  flex-basis: calc(41.667% - #{$space-value} * 2);
  max-width: calc(41.667% - #{$space-value} * 2);
}

.flex-xs-6 {
  flex-basis: calc(50% - #{$space-value} * 2);
  max-width: calc(50% - #{$space-value} * 2);
}

.flex-xs-7 {
  flex-basis: calc(58.333% - #{$space-value} * 2);
  max-width: calc(58.333% - #{$space-value} * 2);
}

.flex-xs-8 {
  flex-basis: calc(66.667% - #{$space-value} * 2);
  max-width: calc(66.667% - #{$space-value} * 2);
}

.flex-xs-9 {
  flex-basis: calc(75% - #{$space-value} * 2);
  max-width: calc(75% - #{$space-value} * 2);
}

.flex-xs-10 {
  flex-basis: calc(83.333% - #{$space-value} * 2);
  max-width: calc(83.333% - #{$space-value} * 2);
}

.flex-xs-11 {
  flex-basis: calc(91.667% - #{$space-value} * 2);
  max-width: calc(91.667% - #{$space-value} * 2);
}

.flex-xs-12 {
  flex-basis: calc(100% - #{$space-value} * 2);
  max-width: calc(100% - #{$space-value} * 2);
}

.flex-xs-offset-1 {
  margin-left: calc(8.333% - #{$space-value} * 2);
}

.flex-xs-offset-2 {
  margin-left: calc(16.667% - #{$space-value} * 2);
}

.flex-xs-offset-3 {
  margin-left: calc(25% - #{$space-value} * 2);
}

.flex-xs-offset-4 {
  margin-left: calc(33.333% - #{$space-value} * 2);
}

.flex-xs-offset-5 {
  margin-left: calc(41.667% - #{$space-value} * 2);
}

.flex-xs-offset-6 {
  margin-left: calc(50% - #{$space-value} * 2);
}

.flex-xs-offset-7 {
  margin-left: calc(58.333% - #{$space-value} * 2);
}

.flex-xs-offset-8 {
  margin-left: calc(66.667% - #{$space-value} * 2);
}

.flex-xs-offset-9 {
  margin-left: calc(75% - #{$space-value} * 2);
}

.flex-xs-offset-10 {
  margin-left: calc(83.333% - #{$space-value} * 2);
}

.flex-xs-offset-11 {
  margin-left: calc(91.667% - #{$space-value} * 2);
}

.flex-col-xs {
  flex-direction: column;
}

.flex-row-xs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &--nowrap {
    flex-wrap: nowrap;
  }
}

.flex-just-start-xs {
  justify-content: flex-start;
}

.flex-just-center-xs {
  justify-content: center;
}

.flex-just-end-xs {
  justify-content: flex-end;
}

.flex-just-around-xs {
   justify-content: space-around;
 }

.flex-just-evenly-xs {
  justify-content: space-evenly;
}

.flex-just-between-xs {
  justify-content: space-between;
}

.flex-align-start-xs {
  align-items: flex-start;
}

.flex-align-center-xs {
  align-items: center;
}

.flex-align-end-xs {
  align-items: flex-end;
}

.flex-first-xs {
  order: -1;
}

.flex-last-xs {
  order: 1;
}

@media only screen and (min-width: 480px) {
  .container {
    width: 46rem;
  }

  .flex-sm,
  .flex-sm-1,
  .flex-sm-2,
  .flex-sm-3,
  .flex-sm-4,
  .flex-sm-5,
  .flex-sm-6,
  .flex-sm-7,
  .flex-sm-8,
  .flex-sm-9,
  .flex-sm-10,
  .flex-sm-11,
  .flex-sm-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-left: $space-value;
    margin-right: $space-value;
  }

  .flex-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: calc(100% - #{$space-value} * 2);
  }

  .flex-sm-1 {
    flex-basis: calc(8.333% - #{$space-value} * 2);
    max-width: calc(8.333% - #{$space-value} * 2);
  }

  .flex-sm-2 {
    flex-basis: calc(16.667% - #{$space-value} * 2);
    max-width: calc(16.667% - #{$space-value} * 2);
  }

  .flex-sm-3 {
    flex-basis: calc(25% - #{$space-value} * 2);
    max-width: calc(25% - #{$space-value} * 2);
  }

  .flex-sm-4 {
    flex-basis: calc(33.333% - #{$space-value} * 2);
    max-width: calc(33.333% - #{$space-value} * 2);
  }

  .flex-sm-5 {
    flex-basis: calc(41.667% - #{$space-value} * 2);
    max-width: calc(41.667% - #{$space-value} * 2);
  }

  .flex-sm-6 {
    flex-basis: calc(50% - #{$space-value} * 2);
    max-width: calc(50% - #{$space-value} * 2);
  }

  .flex-sm-7 {
    flex-basis: calc(58.333% - #{$space-value} * 2);
    max-width: calc(58.333% - #{$space-value} * 2);
  }

  .flex-sm-8 {
    flex-basis: calc(66.667% - #{$space-value} * 2);
    max-width: calc(66.667% - #{$space-value} * 2);
  }

  .flex-sm-9 {
    flex-basis: calc(75% - #{$space-value} * 2);
    max-width: calc(75% - #{$space-value} * 2);
  }

  .flex-sm-10 {
    flex-basis: calc(83.333% - #{$space-value} * 2);
    max-width: calc(83.333% - #{$space-value} * 2);
  }

  .flex-sm-11 {
    flex-basis: calc(91.667% - #{$space-value} * 2);
    max-width: calc(91.667% - #{$space-value} * 2);
  }

  .flex-sm-12 {
    flex-basis: calc(100% - #{$space-value} * 2);
    max-width: calc(100% - #{$space-value} * 2);
  }

  .flex-sm-offset-1 {
    margin-left: calc(8.333% - #{$space-value} * 2);
  }

  .flex-sm-offset-2 {
    margin-left: calc(16.667% - #{$space-value} * 2);
  }

  .flex-sm-offset-3 {
    margin-left: calc(25% - #{$space-value} * 2);
  }

  .flex-sm-offset-4 {
    margin-left: calc(33.333% - #{$space-value} * 2);
  }

  .flex-sm-offset-5 {
    margin-left: calc(41.667% - #{$space-value} * 2);
  }

  .flex-sm-offset-6 {
    margin-left: calc(50% - #{$space-value} * 2);
  }

  .flex-sm-offset-7 {
    margin-left: calc(58.333% - #{$space-value} * 2);
  }

  .flex-sm-offset-8 {
    margin-left: calc(66.667% - #{$space-value} * 2);
  }

  .flex-sm-offset-9 {
    margin-left: calc(75% - #{$space-value} * 2);
  }

  .flex-sm-offset-10 {
    margin-left: calc(83.333% - #{$space-value} * 2);
  }

  .flex-sm-offset-11 {
    margin-left: calc(91.667% - #{$space-value} * 2);
  }

  .flex-col-sm {
    flex-direction: column;
  }

  .flex-row-sm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &--nowrap {
      flex-wrap: nowrap;
    }
  }

  .flex-just-start-sm {
    justify-content: flex-start;
  }

  .flex-just-center-sm {
    justify-content: center;
  }

  .flex-just-end-sm {
    justify-content: flex-end;
  }

  .flex-just-around-sm {
    justify-content: space-around;
  }

  .flex-just-evenly-sm {
    justify-content: space-evenly;
  }

  .flex-just-between-sm {
    justify-content: space-between;
  }

  .flex-align-start-sm {
    align-items: flex-start;
  }

  .flex-align-center-sm {
    align-items: center;
  }

  .flex-align-end-sm {
    align-items: flex-end;
  }

  .flex-first-sm {
    order: -1;
  }

  .flex-last-sm {
    order: 1;
  }
}

@include small {
  .container {
    width: 74rem;
  }

  .flex-md,
  .flex-md-1,
  .flex-md-2,
  .flex-md-3,
  .flex-md-4,
  .flex-md-5,
  .flex-md-6,
  .flex-md-7,
  .flex-md-8,
  .flex-md-9,
  .flex-md-10,
  .flex-md-11,
  .flex-md-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-left: $space-value;
    margin-right: $space-value;
  }

  .flex-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: calc(100% - #{$space-value} * 2);
  }

  .flex-md-1 {
    flex-basis: calc(8.333% - #{$space-value} * 2);
    max-width: calc(8.333% - #{$space-value} * 2);
  }

  .flex-md-2 {
    flex-basis: calc(16.667% - #{$space-value} * 2);
    max-width: calc(16.667% - #{$space-value} * 2);
  }

  .flex-md-3 {
    flex-basis: calc(25% - #{$space-value} * 2);
    max-width: calc(25% - #{$space-value} * 2);
  }

  .flex-md-4 {
    flex-basis: calc(33.333% - #{$space-value} * 2);
    max-width: calc(33.333% - #{$space-value} * 2);
  }

  .flex-md-5 {
    flex-basis: calc(41.667% - #{$space-value} * 2);
    max-width: calc(41.667% - #{$space-value} * 2);
  }

  .flex-md-6 {
    flex-basis: calc(50% - #{$space-value} * 2);
    max-width: calc(50% - #{$space-value} * 2);
  }

  .flex-md-7 {
    flex-basis: calc(58.333% - #{$space-value} * 2);
    max-width: calc(58.333% - #{$space-value} * 2);
  }

  .flex-md-8 {
    flex-basis: calc(66.667% - #{$space-value} * 2);
    max-width: calc(66.667% - #{$space-value} * 2);
  }

  .flex-md-9 {
    flex-basis: calc(75% - #{$space-value} * 2);
    max-width: calc(75% - #{$space-value} * 2);
  }

  .flex-md-10 {
    flex-basis: calc(83.333% - #{$space-value} * 2);
    max-width: calc(83.333% - #{$space-value} * 2);
  }

  .flex-md-11 {
    flex-basis: calc(91.667% - #{$space-value} * 2);
    max-width: calc(91.667% - #{$space-value} * 2);
  }

  .flex-md-12 {
    flex-basis: calc(100% - #{$space-value} * 2);
    max-width: calc(100% - #{$space-value} * 2);
  }

  .flex-md-offset-1 {
    margin-left: calc(8.333% - #{$space-value} * 2);
  }

  .flex-md-offset-2 {
    margin-left: calc(16.667% - #{$space-value} * 2);
  }

  .flex-md-offset-3 {
    margin-left: calc(25% - #{$space-value} * 2);
  }

  .flex-md-offset-4 {
    margin-left: calc(33.333% - #{$space-value} * 2);
  }

  .flex-md-offset-5 {
    margin-left: calc(41.667% - #{$space-value} * 2);
  }

  .flex-md-offset-6 {
    margin-left: calc(50% - #{$space-value} * 2);
  }

  .flex-md-offset-7 {
    margin-left: calc(58.333% - #{$space-value} * 2);
  }

  .flex-md-offset-8 {
    margin-left: calc(66.667% - #{$space-value} * 2);
  }

  .flex-md-offset-9 {
    margin-left: calc(75% - #{$space-value} * 2);
  }

  .flex-md-offset-10 {
    margin-left: calc(83.333% - #{$space-value} * 2);
  }

  .flex-md-offset-11 {
    margin-left: calc(91.667% - #{$space-value} * 2);
  }

  .flex-col-md {
    flex-direction: column;
  }

  .flex-row-md {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &--nowrap {
      flex-wrap: nowrap;
    }
  }

  .flex-just-start-md {
    justify-content: flex-start;
  }

  .flex-just-center-md {
    justify-content: center;
  }

  .flex-just-end-md {
    justify-content: flex-end;
  }

  .flex-just-around-md {
    justify-content: space-around;
  }

  .flex-just-evenly-md {
    justify-content: space-evenly;
  }

  .flex-just-between-md {
    justify-content: space-between;
  }

  .flex-align-start-md {
    align-items: flex-start;
  }

  .flex-align-center-md {
    align-items: center;
  }

  .flex-align-end-md {
    align-items: flex-end;
  }

  .flex-first-md {
    order: -1;
  }

  .flex-last-md {
    order: 1;
  }
}

@include medium {
  .container {
    width: 101rem;
  }

  .flex-lg,
  .flex-lg-1,
  .flex-lg-2,
  .flex-lg-3,
  .flex-lg-4,
  .flex-lg-5,
  .flex-lg-6,
  .flex-lg-7,
  .flex-lg-8,
  .flex-lg-9,
  .flex-lg-10,
  .flex-lg-11,
  .flex-lg-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-left: $space-value;
    margin-right: $space-value;
  }

  .flex-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: calc(100% - #{$space-value} * 2);
  }

  .flex-lg-1 {
    flex-basis: calc(8.333% - #{$space-value} * 2);
    max-width: calc(8.333% - #{$space-value} * 2);
  }

  .flex-lg-2 {
    flex-basis: calc(16.667% - #{$space-value} * 2);
    max-width: calc(16.667% - #{$space-value} * 2);
  }

  .flex-lg-3 {
    flex-basis: calc(25% - #{$space-value} * 2);
    max-width: calc(25% - #{$space-value} * 2);
  }

  .flex-lg-4 {
    flex-basis: calc(33.333% - #{$space-value} * 2);
    max-width: calc(33.333% - #{$space-value} * 2);
  }

  .flex-lg-5 {
    flex-basis: calc(41.667% - #{$space-value} * 2);
    max-width: calc(41.667% - #{$space-value} * 2);
  }

  .flex-lg-6 {
    flex-basis: calc(50% - #{$space-value} * 2);
    max-width: calc(50% - #{$space-value} * 2);
  }

  .flex-lg-7 {
    flex-basis: calc(58.333% - #{$space-value} * 2);
    max-width: calc(58.333% - #{$space-value} * 2);
  }

  .flex-lg-8 {
    flex-basis: calc(66.667% - #{$space-value} * 2);
    max-width: calc(66.667% - #{$space-value} * 2);
  }

  .flex-lg-9 {
    flex-basis: calc(75% - #{$space-value} * 2);
    max-width: calc(75% - #{$space-value} * 2);
  }

  .flex-lg-10 {
    flex-basis: calc(83.333% - #{$space-value} * 2);
    max-width: calc(83.333% - #{$space-value} * 2);
  }

  .flex-lg-11 {
    flex-basis: calc(91.667% - #{$space-value} * 2);
    max-width: calc(91.667% - #{$space-value} * 2);
  }

  .flex-lg-12 {
    flex-basis: calc(100% - #{$space-value} * 2);
    max-width: calc(100% - #{$space-value} * 2);
  }

  .flex-lg-offset-1 {
    margin-left: calc(8.333% - #{$space-value} * 2);
  }

  .flex-lg-offset-2 {
    margin-left: calc(16.667% - #{$space-value} * 2);
  }

  .flex-lg-offset-3 {
    margin-left: calc(25% - #{$space-value} * 2);
  }

  .flex-lg-offset-4 {
    margin-left: calc(33.333% - #{$space-value} * 2);
  }

  .flex-lg-offset-5 {
    margin-left: calc(41.667% - #{$space-value} * 2);
  }

  .flex-lg-offset-6 {
    margin-left: calc(50% - #{$space-value} * 2);
  }

  .flex-lg-offset-7 {
    margin-left: calc(58.333% - #{$space-value} * 2);
  }

  .flex-lg-offset-8 {
    margin-left: calc(66.667% - #{$space-value} * 2);
  }

  .flex-lg-offset-9 {
    margin-left: calc(75% - #{$space-value} * 2);
  }

  .flex-lg-offset-10 {
    margin-left: calc(83.333% - #{$space-value} * 2);
  }

  .flex-lg-offset-11 {
    margin-left: calc(91.667% - #{$space-value} * 2);
  }

  .flex-col-lg {
    flex-direction: column;
  }

  .flex-row-lg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &--nowrap {
      flex-wrap: nowrap;
    }
  }

  .flex-just-start-lg {
    justify-content: flex-start;
  }

  .flex-just-center-lg {
    justify-content: center;
  }

  .flex-just-end-lg {
    justify-content: flex-end;
  }

  .flex-just-around-lg {
    justify-content: space-around;
  }

  .flex-just-evenly-lg {
    justify-content: space-evenly;
  }

  .flex-just-between-lg {
    justify-content: space-between;
  }

  .flex-align-start-lg {
    align-items: flex-start;
  }

  .flex-align-center-lg {
    align-items: center;
  }

  .flex-align-end-lg {
    align-items: flex-end;
  }

  .flex-first-lg {
    order: -1;
  }

  .flex-last-lg {
    order: 1;
  }
}
